d<h1>Cookbook</h1>

<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <h2>Title: <%= recipe.title %></h2>
        <h4>By: <%= recipe.chef %></h4>
        <h3>Ingredients: <%= recipe.ingredients %></h3>
        <h3>Directions: <%= recipe.directions %></h3>
        <img src="">
      </div>
    </div>
  <% end %>
</div>